!
!
ip vrf {{ce_vrf_name}}
 description {{ vrf_name }}
 rd 65500:100
!

interface {{wanif}}
 description Customer {{desc}}
 ip vrf forwarding {{ ce_vrf_name }}
 ip address {{ce_wan}} {{netmask}}
!
!
router bgp {{local_asn}}
 bgp router-id {{ce_wan}}
 bgp log-neighbor-changes
 timers bgp 10 30
 address-family ipv4 vrf {{ ce_vrf_name }}
  redistribute connected route-map BGP-EXPORT
  redistribute static route-map BGP-EXPORT
  neighbor {{bgp_nbr}} remote-as 65500
  neighbor {{bgp_nbr}} description WAN uplink {{desc}}
  neighbor {{bgp_nbr}} activate
  neighbor {{bgp_nbr}} soft-reconfiguration inbound
  neighbor {{bgp_nbr}} route-map BGP-IMPORT in
  neighbor {{bgp_nbr}} route-map BGP-EXPORT out
  no auto-summary
  no synchronization
 exit-address-family
!
ip prefix-list BGP-EXPORT description Advertise only networks in this list
ip prefix-list BGP-EXPORT seq 5 deny 0.0.0.0/0
ip prefix-list BGP-EXPORT seq 10 permit {{network_addr}}
!
route-map BGP-EXPORT permit 10
 match ip address prefix-list BGP-EXPORT
 set metric 10
!
route-map BGP-IMPORT permit 10
 set metric 10
 set local-preference 1000
!
!

end

##
## Juniper configuration
##


set policy-options policy-statement customer-EBGP-VRF-{{ vrf_name }}-EXPORT then accept
set policy-options policy-statement customer-EBGP-VRF-{{ vrf_name }}-IMPORT then accept
set policy-options policy-statement customer-VRF-{{ vrf_name }}-EXPORT term 5 from protocol static
set policy-options policy-statement customer-VRF-{{ vrf_name }}-EXPORT term 5 from protocol direct
set policy-options policy-statement customer-VRF-{{ vrf_name }}-EXPORT term 5 from protocol bgp
set policy-options policy-statement customer-VRF-{{ vrf_name }}-EXPORT term 5 then accept
set policy-options policy-statement customer-VRF-{{ vrf_name }}-EXPORT then reject
set policy-options policy-statement customer-VRF-{{ vrf_name }}-IMPORT term 5 from protocol bgp
set policy-options policy-statement customer-VRF-{{ vrf_name }}-IMPORT term 5 then accept
set policy-options policy-statement customer-VRF-{{ vrf_name }}-IMPORT then reject
set routing-instances {{ vrf_name }} description "VRF Description"
set routing-instances {{ vrf_name }} instance-type vrf
set routing-instances {{ vrf_name }} interface {{peif}}
set routing-instances {{ vrf_name }} route-distinguisher 65534:100
set routing-instances {{ vrf_name }} vrf-import customer-VRF-{{ vrf_name }}-IMPORT
set routing-instances {{ vrf_name }} vrf-export customer-VRF-{{ vrf_name }}-EXPORT
set routing-instances {{ vrf_name }} vrf-table-label
set routing-instances {{ vrf_name }} routing-options auto-export
set routing-instances {{ vrf_name }} protocols bgp group customer type external
set routing-instances {{ vrf_name }} protocols bgp group customer minimum-hold-time 15
set routing-instances {{ vrf_name }} protocols bgp group customer family inet unicast prefix-limit maximum 5000
set routing-instances {{ vrf_name }} protocols bgp group customer neighbor {{ce_wan}} description "Customer name"
set routing-instances {{ vrf_name }} protocols bgp group customer neighbor {{ce_wan}} hold-time 30
set routing-instances {{ vrf_name }} protocols bgp group customer neighbor {{ce_wan}} import customer-EBGP-VRF-IMPORT
set routing-instances {{ vrf_name }} protocols bgp group customer neighbor {{ce_wan}} export customer-EBGP-VRF-EXPORT
set routing-instances {{ vrf_name }} protocols bgp group customer neighbor {{ce_wan}} peer-as {{local_asn}}
set routing-instances {{ vrf_name }} protocols bgp group customer neighbor {{ce_wan}} as-override





